<div class="all" [@showTrigger]="'show'">

<h1>Ինչպես ներբեռնել հավելվածները (սեղմեք նկարներին և տրված հասցեով ձեզ կբացատրվի, թե ինչպես ներբեռնել դրանք)։</h1>

<div class="downloads">

<a href="https://www.youtube.com/watch?v=DL8ayN1hFZk&t=4s" target="_blank"><img style="width: 200px;height: 200px" src="https://upload.wikimedia.org/wikipedia/hy/b/be/Fox1.gif"></a>

<a href="https://www.youtube.com/watch?v=DL8ayN1hFZk&t=4s" target="_blank"><img style="width: 200px;height: 200px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/KTurtle_logo.svg/1200px-KTurtle_logo.svg.png"> </a>

<a href="https://www.youtube.com/watch?v=DL8ayN1hFZk&t=4s" target="_blank"><img style="width: 200px;height: 200px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/FreeCAD-logo.svg/1200px-FreeCAD-logo.svg.png"></a>
</div>
</div>
