/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /*background-image: linear-gradient(to right top, #4693e0, #5182da, #6170d1, #735bc3, #8442b0);*/
  background-image: url("https://firebasestorage.googleapis.com/v0/b/armathremote.appspot.com/o/robots.jpg?alt=media&token=05efe9c7-ea32-47d4-8fdc-145aab95db2e");
}
